extends layout

block content
  div.w3-container
    h1 CLAV: Classificação e Avaliação da Informação Pública
    h3 O que é o 
      a(href='http://clav.di.uminho.pt/') CLAV 
    div Plataforma da Direção-Geral do Livro, dos Arquivos e das Bibliotecas para disponibilizar informação, orientações e ferramentas que facilitem e normalizem as práticas de classificação e avaliação da informação pública. Esta plataforma destina-se a entidades da Administração Pública, a empresas públicas e a outras entidades de Portugal Continental e permite a interação entre estas e a DGLAB. É igualmente destinada ao cidadão, particularmente através da disponibilização do catálogo de processos de negócio da Administração Pública, que integra a Lista Consolidada.


    p 
      a(class='w3-button w3-round-large w3-border' href='/classes') Ir para lista de classes
    p
      a(class='w3-button w3-round-large w3-border' href='/termos') Ir para lista de termos de índice
  
